---
import Tailwind from "@/assets/Icons/StackIcons/Tailwind.astro";
import React from "@/assets/Icons/StackIcons/React.astro";
import AstroIcon from "@/assets/Icons/StackIcons/AstroIcon.astro";
import OpenIA from "@/assets/Icons/StackIcons/OpenIA.astro";
import Svelte from "@/assets/Icons/StackIcons/Svelte.astro";
import TypeScript from "@/assets/Icons/StackIcons/TypeScript.astro";
import Zustand from "@/assets/Icons/StackIcons/Zustand.astro";
import LinkInline from "../common/LinkInline.astro";
import WWW from "@/assets/Icons/WWW.astro";
import GitHub from "@/assets/Icons/SocialIcons/GitHub.astro";

const TAGS = {
  TAILWIND: {
    name: "Tailwind CSS",
    class: "border-[#003159] text-white",
    icon: Tailwind,
  },
  ASTRO: {
    name: "Astro",
    class: "border-[#FF5A1F] text-white",
    icon: AstroIcon,
  },
  REACT: {
    name: "React",
    class: "border-[#61DAFB] text-white",
    icon: React,
  },
  ZUSTAND: {
    name: "Zustand",
    class: "border-[#E5E5E5] text-white",
    icon: Zustand,
  },
  SVELTE: {
    name: "Svelte",
    class: "border-[#FF3E00] text-white",
    icon: Svelte,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    class: "border-[#3178C6] text-white",
    icon: TypeScript,
  },
  OPENAI: {
    name: "OpenAI",
    class: "border-[#412991] text-white",
    icon: OpenIA,
  },
};

const PROJECTS = [
  {
    title: "Spotify clon",
    description:
      "Un clon funcional de la interfaz de Spotify construido con Astro v5, integrando React, TypeScript, y Zustand para el manejo del estado global. Este proyecto emula funcionalidades básicas de la plataforma de streaming musical, con un diseño interactivo.",
    link: "https://spotify-clon-astro-5.vercel.app/",
    github: "https://github.com/manialCode/Spotify-clon-Astro-5",
    image:
      "https://github.com/manialCode/Spotify-clon-Astro-5/blob/main/screenshots/homepage.png?raw=true",
    tags: [
      TAGS.ASTRO,
      TAGS.REACT,
      TAGS.TAILWIND,
      TAGS.ZUSTAND,
      TAGS.TYPESCRIPT,
    ],
  },
  {
    title: "PDF_TALKER",
    description:
      "Este proyecto es una aplicación web construida con Astro que permite a los usuarios subir archivos PDF y procesarlos utilizando Cloudinary. La aplicación también utiliza Svelte para la interfaz de usuario y Tailwind CSS para el diseño.",
    link: "",
    github: "https://github.com/manialCode/PDF_TALKER",
    image:
      "https://github.com/manialCode/PDF_TALKER/blob/main/screenshots/%7BD5234055-FC20-465D-A117-F83C39828033%7D.png?raw=true",
    tags: [
      TAGS.ASTRO,
      TAGS.SVELTE,
      TAGS.TAILWIND,
      TAGS.TYPESCRIPT,
      TAGS.OPENAI,
    ],
  },
];
---

{
  PROJECTS.map(({ title, description, tags, github, link, image }) => (
    <article class="px-16 py-8 ">
      <h3 class="text-2xl font-semibold text-cyan-300 mb-3">{title}</h3>
      <p class="text-lg mb-2 text-pretty">{description}</p>
      <ul class="flex gap-x-4 flex-row justify-center md:justify-normal">
        {tags.map((tag) => (
          <li>
            <span
              class={`flex gap-x-2 rounded-full text-xs border ${tag.class} px-4 py-2 items-center justify-center`}
            >
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        class="aspect-video mx-auto max-w-[650px] object-cover mt-4 rounded-lg shadow-2xl shadow-white/10 "
        src={image}
        alt={`Captura de pantalla de proyecto ${title}`}
      />
      <footer class="flex gap-4 p-4 justify-end">
        {link ? (
          <LinkInline href={link}>
            <WWW class="size-6" />
            Ir a sitio web
          </LinkInline>
        ) : (
          ""
        )}
        <LinkInline href={github}>
          <GitHub class="size-6" />
          Ir a código fuente
        </LinkInline>
      </footer>
    </article>
  ))
}
